@font-face{font-family:"Helvetica Now Text";src:url("https://static.rolex.com/Fonts/Rolex/HelveticaNow/8d8e92a7-bfd4-4de7-bc65-45be2306bf81.woff2") format("woff2"), url("https://static.rolex.com/Fonts/Rolex/HelveticaNow/858c1d6a-cfc6-4367-91da-cd8209dcdc6e.woff") format("woff");font-weight:300;font-style:normal;}

/* font-family: 'Syncopate', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

* {
    /* margin: 0 !important;
    padding: 0 !important; */
    box-sizing: border-box;
    transition: all ease 0.2s;
}

:root {
    --rolex-green: #006039;
    --rolex-yellow: #a37e2c;
    --rolex-wide-fonts: font-family: 'Syncopate', sans-serif;
}

a {
    text-decoration: none;
    color: var(--rolex-yellow);
}

a:hover {
    opacity: 0.8 !important;
    text-decoration: underline;
}

a li {
    color: var(--rolex-yellow) !important;
}

header#masthead {
    text-align: center;
    background-color: #dddddd;
}

#primary-menu ul {
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#primary-menu ul li {
    width: 120px;
}

#primary-menu ul li a {
    color: var(--rolex-yellow) !important;
}

#primary-menu ul li a:hover {
    color: var(--rolex-green) !important;
}

.entry-title {
    text-align: center;
}

main {
    margin: 0 200px !important;
}

.site-info {
    background-color: #dddddd;
    text-align: center;
}

aside#secondary {
    padding: 0 100px;
    background-color: #dddddd;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.wp-block-quote.is-style-fancy-quote {
    color: red;
}

.wp-block-buttons .wp-block-button .wp-block-button_link,
.wp-block-buttons.is-style-fill .wp-block-button .wp-block-button_link {
    background-color: red;
}

.alignwide {
    width: 75%;
    margin: o auto;
}

.alignfull {
    width: 90%;
    margin: 0 auto;
}

.has-sky-background-color {
    background-color: #1e93c9;
}

.has-sky-color {
    color: #1e93c9;
}

.has-yellow-background-color {
    background-color: #ffbb00;
}

.has-yellow-color {
    color: #ffbb00;
}

.has-red-background-color {
    background-color: #ff5555;
}

.has-red-color {
    color: #ff5555;
}

.has-green-background-color {
    background-color: #8abd05;
}

.has-green-color {
    color: #8abd05;
}

.headerText {
    font-weight: bold;
}

figure {
    text-align: center;
    margin: auto;
}
/* 
img {
    width: 400px;
} */

li {
    list-style: none;
    padding-left: -16px;
}

ul,
ol {
    margin: 0 !important;
    padding: 0 !important;
}

input.search-field {
    margin-top: 25px;
}

img.custom-logo {
    margin: 20px auto;
    width: 100px;
}

.site-title {
    display: none;
}

.rolex-fonts {
    font-family:"Helvetica Now Text";
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}

img.image.wp-image-42.attachment-medium.size-medium {
    width: 50%;
}


.footer {
    background-color: #00603a28;
}

img.wp-post-image {
    width: 40%;
}

.post-thumbnail {
    margin: -10px 0;
    text-align: center;
}

.wp-block-cover__inner-container {
    text-align: center;
}

.wp-block-cover__inner-container p {
    font-family: var(--rolex-wide-fonts);
}

.wp-block-button__link{
    background-color: #fff;
    color: var(--rolex-green);
}

.wp-block-button__link:hover {
    opacity: 0.7;
    color: var(--rolex-green);
    text-decoration: none;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: var(--rolex-green) !important;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: var(--rolex-green) !important;
    opacity: 0.7;
}